@media (max-width: 1050px) {
    html {
        font-size: 90%;
    }
    .head i {
        display: inline-block;
    }

    .head .navBar {
        position: absolute;
        background-color: #000000;
        height: 100vh;
        top: 70px;
        left: -1000px;
        width: 25rem;
        display: block;
    }

    .head .navBar a {
        margin: 5rem;
        display: block;
        color: white;
    }

    .head .navBar.active {
        left: 0;
    }

    .btn button {
        display: none;
    }

    .heading {
        justify-content: center;
    }
    .heading .content {
        text-align: center;
    }
    .heading .image {
        order: -1;
    }
}