* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}

.head {
  /* border: 1px solid black; */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100vw;
}

.logo > h1 , span {
   /* border: 1px solid black; */
  color: #CCC9E7;
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 5px 0;
  font-size: 1.5rem;
  cursor: pointer;
}

span {
  color: #2E3138;
}

.navBar ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.navBar > ul > li > a {
  text-decoration: none;
  color: #2E3138;
}
.navBar > ul > li > a:hover {
  color: #247BA0;
}

.buttons > button {
  background-color: #50514F;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  transition: 0.5s all;
}



.login:hover {
  background-color: #CCC9E7;
  color: #2E3138;
  transform: translate(20px);
}
.signup:hover {
  background-color: #BBB5BD;
  color: #F9F8F8;
  transform: translate(-20px);
}

.body {
  position: relative;
  top: 70px;
}
.float{
  /* border: 1px solid black; */
  margin: 20px 30px;
}


.one > img {
  width: 300px;
  float: left;
  margin-right: 20px;
}

.one  h1 {
  font-size: 3rem;
  color: #BBB5BD;
}
.one p {
  text-align: justify;
}


.two > img {
  width: 400px;
  float: right;
  margin-left: 20px;
}

.two  h1 {
  font-size: 3rem;
  color: #BBB5BD;
}
.two p {
  text-align: justify;
}


.wrap {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.rightWrap {
  /* border: 1px solid black; */
  margin: 30px;
}

.rightWrap > h2 {
  font-size: 2.5rem;
  color: #BBB5BD;
}

.rightWrap ul li {
  list-style: none;
  margin: 5px 10px;
}

.three h1 {
  font-size: 3rem;
  color: #BBB5BD;
}

.three p {
  text-align: justify;
  /* display: inline-block; */
  /* width: 80%; */
}
.three > img {
  margin: 0 20px;
  width: 250px;
  float: right;
}

.form {
  margin: 0 50px;
}
.yourName {
  width: 250px;
  height: 25px;
  margin: 10px 0;
  padding: 0 10px;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  transition: 0.5s all;
}

input[type=submit]:hover {
  background-color: #45a049;
  transform: translate(-30px);
}

.forms {
  padding: 20px;
}

.col_1 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col_2 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

footer  {
  margin: 10px;
  border: 1px solid black;
  text-align: center;
}

.footer a {
  color: brown;
  text-decoration: none;
}

@media (min-width: 300px) and (max-width: 900px ) {
  .navBar {
    display: none;
  }
  .head {
    justify-content: space-around;
  }
  .body {
    top: 30px;
  }
  .float {
    margin: 20px 15px;
  }
  .buttons > button {
    padding: 10px;
    font-size: 0.7rem;
  }
  .one > img, .two > img, .three img {
    width: 100px;
  }
  .one  h1, .two  h1, .rightWrap > h2, .three h1 {
    font-size: 1rem;
  }
  .one p, .two p , .rightWrap ul li, .three p {
    font-size: 0.8rem;
  }
  .three p {
    width: 100%;
  }
  .logo > h1 , span {
    font-size: 1rem;
  }
  .wrap {
    display: block;
  }
  .col_1 > label {
    font-size: 0.8rem;
  }
}