* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", system-ui;
  text-decoration: none;
  outline: none;
  border: none;
  transition: .2s linear;
}

:root {
  --white-background: #fff;
  --black-background: #000;
  --body: #ebebeb;
  --main-color: #646464;
}

body {
background-color: var(--body);
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--white-background);
  padding: 1rem 5%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.head i {
  color: var(--black-background);
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  display: none;
}
.logo h1 {
  display: inline-block;
  font-size: 1.8rem;
  cursor: pointer;
  color: #CCC9E7;
}

.logo h1 span {
  font-size: 2rem;
  color: var(--black-background);
}

.navBar {
  display: flex;
  gap: 20px;
  text-transform: uppercase;
}

.navBar a {
  color: var(--black-background);
  font-weight: 600;
}

.navBar a:hover {
  border-bottom: 2px solid #247BA0;
}

.btn button {
  background-color: var(--black-background);
  color: var(--white-background);
  padding: 0.6rem 1.6rem;
  text-transform: uppercase;
  border-radius: 5px;
  transition: 0.5s all;
}

button a {
  color: white;
  text-decoration: none;
}

.btn button:hover {
  background-color: #CCC9E7;
  transform: translate(20px);
}

.btn button a:hover {
  color: var(--black-background);
}
/* heading style starts */
.heading {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding:  5rem;
}

.heading .content {
  flex: 1 1 500px;
  max-width: 30rem;
}

.heading .content h1 {
  font-size: 5rem;
  text-transform: uppercase;
}

.heading .content p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.8;
  padding: 1rem 0;
}

.heading .image {
  flex: 1 1 500px;
}

.heading .image img {
  object-fit: cover;
  width: 100%;
}
/* heading style ends */
/* section one starts */
.first_paragraph {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
}

.first_paragraph .image-1 {
  flex: 1 1 450px;
}

.first_paragraph .image-1 img {
  object-fit: cover;
  width: 100%;
}

.first_paragraph .image_text {
  flex: 1 1 450px;
  padding: 1rem;
} 

.first_paragraph .image_text h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 1rem;
  border-bottom: 5px solid var(--black-background);
}

.first_paragraph .image_text p {
  text-align: justify;
  font-weight: 500;
  line-height: 25px;
}

.second_paragraph {
  margin-top: 72.5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
}

.second_paragraph .image-1 {
  flex: 1 1 350px;
}
.second_paragraph .image-1 img {
  object-fit: cover;
  width: 100%;
}

.second_paragraph .image_text {
  flex: 1 1 450px;
  padding: 1rem;
} 

.second_paragraph .image_text h1 {
  font-size: 3rem;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 1rem;
  border-bottom: 5px solid var(--black-background);
}

.second_paragraph .image_text p {
  text-align: justify;
  font-weight: 500;
  line-height: 25px;
}

.list {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 2.5rem;
  margin-top: 30px;
  margin-left: 30px;
}

.list .rightList {
  flex: 1 1 200px;
}

.list .rightList h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--main-color);
}

.list .rightList ul {
  list-style: none;
}

.list .rightList ul li {
  color: var(--black-background);
  line-height: 25px;
}


.list .middlenews {
  flex: 1 1 200px;
}

.list .middlenews h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--main-color);
}


.list .middlenews p {
  color: var(--black-background);
  line-height: 25px;
}

.list .leftList {
  flex: 1 1 200px;
}

.list .leftList h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--main-color);
}

.list .leftList ul {
  list-style: none;
}

.list .leftList ul li {
  color: var(--black-background);
  line-height: 25px;
}

.footer {
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: var(--black-background);
  font-weight: 600;
}